extends layout

block content
  br
  main(role='main')
    
  .col-md-9
    h1(style='color:blue;')  About Catfish
    .text-platform
      p
        | We are a passionate and motivated team dedicated to disrupting the dating industry.  For years the industry has performed subpar service reactively, by connecting couples after they have had no luck. When was the last time you used a dating service without any luck?
      p
        | At Catfish we are focused on transitioning the industry to predictive maintenance. Basically identifying what you need to be in a relationship suitable for you. It's such a simple concept but the impact has market changing implications.
      p
        | What this means is mitigating relationship breakdowns, hazardous communications, future quality dates, environmental impact and a better dating experience. The sum of this impact eludes to ZERO in cost for the individual as we are non-profit.
      p
        | Catfish is more than a platform it is a cultural shift in the way we think about dating services. Technology is at our core, driving value to the industry is what we do.

      br
      
  h1(style='color:blue;')  Our Executive Team   
  p
    | Our team is constantly growing and we are always looking for talented minds to help us solve more challenging problems.
  br
  .container.marketing
    // Three columns of text below the carousel
    .row
      .col-lg-4
        img.rounded-circle(src='/images/execs/adwan.jpg', alt='Adwan', width='140', height='140')
        br
        br
        strong Adwan Salahuddin Syed
        h2 Co-Founder
        br
        p
          | Adwan has worked in the dating industry for over 30 years with a specific focus on machine learning for the last 20 years. Over the years, Adwan became a trusted advisor in dating and has been called upon to lead teams to assist companies in remediation of relationships
      // /.col-lg-4
      .col-lg-4
        img.rounded-circle(src='/images/execs/abinash.jpg', alt='Abinash', width='140', height='140')
        br
        br
        strong Abinash Narendiran
        h2 Co-Founder
        br
        p
          | A dynamic entrepreneur, Abinash Narendiran has built and sold several dating service companies. In 2003 Abinash founded Catfish, and it quickly became one of North America’s fastest growing dating companies.
      // /.col-lg-4
      .col-lg-4
        img.rounded-circle(src='/images/execs/moe.jpg', alt='Mohammed', width='140', height='140')
        br
        br
        strong Mohammed Ahmed
        h2 Co-Founder
        br
        p
          |  He provides leadership to teams supporting Consulting, Identity, Implementation, Remediation and Gold Member Dating Services. He has led complex dating programs and projects in a variety of sectors, with companies across Canada, the US and UK. 
      // /.col-lg-4
    // /.row
  // /.container
  
